@charset "utf-8";
body {
	font-style: italic;
	background-image: url(background.jpg);
	font-size: 18px;
	color: black;
}
body img {
	float: right;
}
body h2 {
	color: #FFBF69;
}
body h1 {
	color: #5941A9;
}

body header {
	text-decoration: blink;
	text-align: center;
	font-size: 24px;
	font-style: oblique;
	font-variant: small-caps;
	font-stretch: extra-expanded;
	border: medium  purple;
	margin: 9px;
	color: #DAFF7D;
	padding-bottom: 10px;
}
body h3 {
	font-size: 22px;
	font-style: italic;
	color: #FFC857;
}
body table {
	color: #E2C044;
}

body h4 {
	font-size: 20px;
	color: #F7EF99;
}
div nav {
}

body div nav {

}

body nav {
	color: grey;
}

a:link, a:visited {
	background-color: #f44336;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	border: double;
	display: inline-block;
}

a:hover{
	color: burlywood;
}
